<div id="app">

  <mat-toolbar color="primary">
    <span>JT</span>
    <div class="row" style="margin-left: 20px; font-size: 20px;">
      <div class="col-auto">
        <a mat-list-item routerLink="/home" routerLinkActive="active-list-item">Home</a>
        <a mat-list-item routerLink="/admin" routerLinkActive="active-list-item" *ngIf="showAdminBoard">Admin-Board</a>
        <a routerLink="/mod" routerLinkActive="active-list-item" *ngIf="showModeratorBoard">Company-Board</a>
        <a routerLink="/user" routerLinkActive="active-list-item" *ngIf="isLoggedIn">User-Board</a>
      </div>
    </div>

    <span class="example-spacer"></span>
    <div *ngIf="!isLoggedIn" class="row">
      <div class="col">
        <a routerLink="/login">Login</a>
        <a routerLink="/login">Register</a>
      </div>
    </div>
    <div *ngIf="isLoggedIn" class="row">
      <div class="col">
        <a routerLink="/profile" routerLinkActive="active-list-item">{{ username }}</a>
        <a type="button" (click)="logout()">Logout</a>
      </div>
    </div>
  </mat-toolbar>

  <div class="container" style="padding-top: 70px;">
    <router-outlet></router-outlet>
  </div>
</div>